{% extends 'wheelchair/base.html' %}
{% block content %}
<div class="container">
	<form method="post" action="{% url 'signin' %}">
		{% csrf_token %}
		<div class="form-group">
			<label for="username">username</label>
			<input type="text" class="form-control" name="username" />
		</div>
		<div class="form-group">
			<label for="password">password</label>
			<input type="password" class="form-control" name="password" />
		</div>
		<button type="submit" class="btn btn-primary">signin</button>
	</form>
</div>
<div class="container">
	まだアカウントをお持ちではありませんか？
	<br>
	<button onclick="location.href='{% url 'signup' %}'" class="btn btn-secondary">signup</button>
</div>
<button onclick="location.href='{% url 'index' %}'" class="btn btn-secondary">topに戻る</button>
{% endblock %}
